<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BBC Page speed comparison tool</title>
        <script src="Chart.min.js"></script>
        <style>
         body {
             text-align: center;
         }
        </style>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
